* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  background-image: url('images/top-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  color: black;
  text-align: center;
}

.s-media {
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
}

.sicon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 30px;
  width: 30px;
}

.facebook {
  background-image: url('images/icons8-facebook-f.svg');
  margin-left: 50vw;
}

.twitter {
  background-image: url('images/twitter.svg');
}

.Logout {
  margin-right: 30px;
}



.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  align-items: center;
}
.logo-li {
  background-image: url('images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vh;
  width: 12vh;
  margin: 6px 20vw 0 6vw;
  color: white;
}

.navbar-link6{
  margin-right: 3vw;
}
.navbar-link {
  border: 5px solid transparent;
  text-decoration: none;
  color: rgb(41, 44, 44);
  padding: 10px 5px;
  transition: 0.5s;
}


.navbar-link:hover {
  border: 5px solid red;
  color: red;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.hello-title {
  font-size: 20px;
  color: rgb(241, 127, 127);
  margin-top: 120px;
}

.conference-title {
  font-size: 50px;
  font-weight: 600;
  margin-top: 8px;
  color: rgb(180, 54, 54);
}

.title-p {
  letter-spacing: 2px;
  padding: 10px;
  margin: 20px 0 30px 0;
  background-color: rgb(240, 237, 233);
  color: black;
  font-size: 18px;
  font-weight: 400;
  border: 6px solid white;
  width: 60vw;
}

.top-date {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 800;
  color: rgb(83, 81, 81);
}

.time {
  margin: 5px;
}
