@media only screen and (min-width: 768px) {
  .navbar-list {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .program-section {
    height: auto;
  }

  .program-ul {
    padding: 0 10px 20px 10px;
    display: flex;
    flex-direction: row;
  }

  .program-li {
    flex-direction: column;
    height: auto;
    margin: 0 3px;
    width: auto;
  }

  .partner-section {
    display: block;
  }

  .speakers-container{
    display: flex;
    flex-direction:row;
  }
}
